# Ignore all configuration files:
*.ini

# Ignore all text files except for README.txt:
*.txt
*.docx
!README.txt

# Ignore all CSV files which are mainly used for debugging or inputs:
*.csv

# Input and output folders:
INPUT_FILES/
OUTPUT/
Rana--Includes/
debug_out_cluster/
bin/ 
.vs/
x64/

#Visual C Database file, project files:
*.db
*.vcxproj
*.filters
*.user
*.suo
*.sdf
*.sln